*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    text-align: center;
    margin: 10PX 300PX 20PX 300PX;
}

.carousel{
    position: relative;
    width: 31.25rem;
    margin: 2.5rem auto;

}
.carousel-entrada{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.carousel-item{
    position: relative;
    display: none;
    width: 31.25rem;
    height: 31.25rem;
    object-fit: cover;
}

.carousel-item.active{
    display: block;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}


.carousel-prev, .carousel-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-prev{
    left: 10px;
}
.carousel-next{
    right: 10px;
}

.buy-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.buy-button:hover {
    background-color: #218838;
}